.idea

/Lesson2-Exceptions/Lesson2-Exceptions.iml
/Lesson3-Collections/target/classes/META-INF/Lesson3-Collections.kotlin_module
/Lesson5-threads/target/classes/ru/gb/CalcInThread.class
/Lesson5-threads/target/classes/ru/gb/MainClass.class

target\

